.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 350px;
    min-width: 250px;
    max-width: 350px;
    min-height: 100vh;
    /* position: fixed; */
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -350px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -500px;
    }

    #sidebar.active {
        margin-left: 0;
    }
}

/*
ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";



    body {
        font-family: 'Poppins', sans-serif;
        background: #fafafa;
    }

    p {
        font-family: 'Poppins', sans-serif;
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1.7em;
    }

    a,
    a:hover,
    a:focus {
        text-decoration: none;
        transition: all 0.3s;
        color: gray;
    }

    #sidebar {
        /* don't forget to add all the previously mentioned styles here too */
        background: #D0D0D0;
        transition: all 0.3s;
        overflow-y: scroll;
    }

    #sidebar .sidebar-header {
        padding: 20px;
        background: gray;
    }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }

    #sidebar ul p {
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

    #sidebar ul li a:hover {
        background: #fff;
    }

    #sidebar ul li.active>a,
    a[aria-expanded="true"] {
        background: #6d7fcc;
    }

    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: #6d7fcc;
    }

    .flex {
        display: flex;
    }

    .vertical-center {
        align-items: center;
    }

    .horizontal-center {
        justify-content: center;
    }

    * {
        box-sizing: border-box;

    }

    .grid-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .grid-wrapper .grid-item {
        width: 25%;
        text-align: left;
        padding: 5px;
        flex-grow: 1;
    }

    .grid-item:hover {
        opacity: .7;
        cursor: pointer;
    }

    .grid-wrapper .grid-item:nth-child(n) {
        width: calc(100%);
        flex-grow: 0;
    }

    .grid-item {
        background: white;
        margin-top: 1em;
    }

    p {
        background: #ddd;
        padding: 15px;
    }

    .user {
        margin: 10px;
        margin-left: 20px;
        font-size: 72px;
        /* width: 100%; */
    }

    span {
        text-align: left;
        font-size: 12px;
        display: block;
        word-break: normal;
        word-wrap: break-word;
    }

    .information {
        margin-left: 1em;
        padding: 1em;
    }

    #content {
        display: flex;
        align-items: center;
        width: 55%;
        margin-left: 4%;
    }

    #video {
        width: 100%;
    }

    .block {
        display: block;
    }

    img {
        border-radius: 50%;
    }

    #right-information {
        width: 15%;
    }