@import url('https://fonts.googleapis.com/css2?family=Cutive&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cutive', serif;
}

html {
  scroll-behavior: smooth;
}
ol, ul {
  padding-left: 0rem;
}
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 9999;
    width: 78px;
    background: #EEEEEE;
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.sidebar.active{
  width: 240px;
}

.sidebar .logo_content .logo{
  color: #313131;
  display:flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.sidebar.active .logo_content .logo{
  opacity: 1;
}

.logo_content .logo i{
  font-size: 10px;
  margin-right: 10px;
}

.logo_content .logo .logo_name{
  font-size: 10px;
  font-weight: 900;
  font-style: italic;
  color: #a4e035;
}

.sidebar #btn{
  position: absolute;
  color:#313131;
  left: 50%;
  top: 6px;
  font-size: 6px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}

.sidebar.active #btn{
  left: 90%;
}

.sidebar ul {
  margin-top: 20px;
}

.sidebar ul li{
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
}

.sidebar ul li .tooltip{
  position: relative;
  left: 122px;
  top: 50%;
  transform: translate(-50% , -50%);
  border-radius: 6px;
  height: 50%;
  width: 122px;
  background: seashell;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  font-size: 10px;
  display: block;
  
}
.sidebar.active ul li .tooltip{
  display: none;
}
.sidebar ul li:hover .tooltip{
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%;
}

.sidebar ul li input{
  position: absolute;
  height: 93%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 30px;
  outline: none;
  border: none;
  background: #313131;
  padding-left: 50px;
  font-size: 13px;
  color:#EEEEEE;
}

.sidebar ul li .bx-search{
  position: absolute;
  height: 1%;
  width: 2%;
  z-index: 99;
  color: #EEEEEE;
  font-size: 22px;
  transition: all 0.5s ease;
}

.sidebar ul li .bx-search:hover{
  background: ivory;
  color: #EEEEEE;
}

.sidebar ul li a{
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none; 
  transition: all 0.4s ease;
  font-size: 13px;
  border-radius: 12px;
  white-space: nowrap;
}

.sidebar ul li a:hover{
  color:#baff39;
  background: #313131;
}

.sidebar ul li i{
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.sidebar .link_name{
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.sidebar.active .link_name{
  opacity: 1;
  pointer-events: auto;
}



.home_content{
  position: absolute;
  height: 100%;
  width: calc(100% - 78px);
  left: 78px;
  transition: all 0.5s ease;
}

.home_content .text{
  font-size: 25px;
  font-weight: 500;
  color: #1d1d1d;
  margin: 12px;
}

.sidebar.active .home_content{
  width: calc(100% - 240px);
  left: 120px;
}

.container.active {
  left: 20%;
}

li{
  text-decoration: none;
}

/* 
.sidebar.active .container-father{
  width: calc(100% - 240px);
  left: 120px;
} */

.flex {
  display: flex;
}

/* add custom styling to the scrollbar */
::-webkit-scrollbar {
  transform: translateY(-10px);
  height: 10px;
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #e2e2e2;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background: #444444;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #baff39;
  border-radius: 30px;
}


.container
{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 550px;
  /* flex-wrap: wrap;  */
  overflow-x:scroll;
  flex-direction: row;
  margin-top: 100px;
  position: relative;
  left: 10%;
  transition: 0.5s;
}

.container .card
{
  margin-top: 5%;
  margin-left: 1em;
  width: 300px;
  height: 400px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05)
              inset -5px -5px 5px rgba(255, 255, 255, 0.5),
              5px 5px 5px rgba(0, 0, 0, 0.05),
              -5px -5px 5px rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  /* margin: 30px; */

}

.container .card .box
{
  width: 300px;
  height: 400px;
  background: #eeeeee;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}


.container .card:hover .box
{
  transform: translateY(-50px);
  box-shadow: 0 10px 40px #9e9e9e;
  background: linear-gradient(90deg,#f0ff21,#26ff88);
}

.container .card .box .content
{
  padding: 20px;
  text-align: center;
}

.container .card .box .content h2
{
  font-size: 8px;
  color: #313131;
  transition: 0.5s;
  pointer-events: none;
}

.container .card:hover .box .content h2
{
  color: #313131;
}

.container .card .box .content a
{
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: #313131;
  margin-top: 15px;
  border-radius: 20px;
  color: #EEEEEE;
  text-decoration: none;
  font-weight: 400;
  font-size: 10px;
  box-shadow: 0 5px 15px #999999;
}

.container .card .box .content a:hover
{
  background: #ffffff;
}







.menu
{
  position:relative;
  left: 50%;
  width: 200px;
  height: 30px;
  /* background: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.menu li
{
  position: absolute;
  left: 0;
  list-style: none;
  transform-origin: 100px;
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--i));
  transform: rotate(0deg) translateX(80px) translateY(25px);
}
.menu li ion-icon {
  transform: rotate(calc(-360deg / 2 * var(--i)));
}

.menu .active li
{
  transform: rotate(calc(360deg / 2 * var(--i)));
}


.menu li a
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #eeeeee;
  border-radius: 50%;
  transition: transform 1.25s;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.menu li a:hover
{
  color:#baff39
}

.toggle
{
  position: absolute;
  width: 60px;
  height: 60px;
  background: #EEEEEE;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  border-radius: 50%;
  cursor: pointer;
  box-shadow:0 3px 4px #9e9e9e;
  font-size: 2em;
  top: .4em;
  transition: transform 0.5s;
}
.menu.active .toggle {
  transform: rotate(315deg);   
}
.menu.active li{
  transform: rotate(calc(360deg / 2 * var(--i)));
}
.menu.active li:nth-child(3) .tooltiptext {
  transform: rotate(180deg);
  top: 100%;
  left: -200%;
  /* color: red; */
}
.menu.active li ion-icon {
  /* transform: rotate(calc(360deg / 2 * var(--i))); */
  /* color: red; */
}

.toggle:hover, li:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.menu li a:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.tooltip-cus {
  position: relative;
  display: inline-block;
}

.tooltip-cus .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* 定位 */
  position: absolute;
  z-index: 9999;
  top: -100%;
}

.tooltip-cus:hover .tooltiptext {
  visibility: visible;
}

select
{
  position: absolute;
  width: 90px;
  height: 18px;
  color: rgb(36, 36, 36);
  font-size: 10px;
  background: #EEE;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
 
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

botton
{
    position: absolute;
    width: 100px;
    height: 100px;
    color: rgb(36, 36, 36);
    font-size: 10px;
    padding: 12px 12px;
    background: #EEE;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


